/* App Shell */
/* -------- */
.layout-header {
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    75deg,
    var(--mantine-color-default) 0%,
    var(--mantine-color-blue-filled) 200%
  );
}

.deafult-navbar {
  backdrop-filter: blur(3px);
}

.student-background {
  background-image: url("../public/images/student.webp");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;
}

/* Typography */
/* ---------- */
.blue-filled {
  color: var(--mantine-color-blue-filled);
}

/* 'text-...' to only be used for UI's <Text> component */
.text-lead {
  font-weight: 700 !important;
  line-height: 1 !important;
}
.text-lead-xl {
  font-size: 24px !important;
}

.text-lead-lg {
  font-size: var(--mantine-font-size-lg) !important;
}

.text-lead-md {
  font-size: var(--mantine-font-size-md) !important;
}

.text-label-xs {
  font-size: var(--mantine-font-size-xs) !important;
  color: var(--mantine-color-dimmed) !important;
}

/* Layouts */
/* ------- */

/* Pages */
/* ----- */
.page-title {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    75deg,
    var(--mantine-color-default) 0%,
    var(--mantine-color-blue-filled) 200%
  );
  border-radius: var(--mantine-radius-md);
}

/* Logo Small */
.logo-container-small {
  height: 50px;
  width: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-hat-small {
  position: absolute;
  width: 26px;
  top: 0;
  left: 0;
  transform: translate(-6px, -3px);
  z-index: -10;
}

/* Logo big */
.logo-container-big {
  height: 80px;
  width: 300px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-hat-big {
  position: absolute;
  width: 46px;
  top: 0;
  left: 0;
  transform: translate(11px, -9px);
  z-index: -10;
}

/* Cards */
/* ----------- */
.card-header {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
}

/* Decorations */
/* ----------- */
.overlay-gradient {
  background: rgb(35, 0, 255);
  background: radial-gradient(
    circle,
    rgba(35, 0, 255, 0.06) 0%,
    rgba(255, 255, 255, 0) 50%
  );
}

.overlay-gradient-linear {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    75deg,
    var(--mantine-color-default) 0%,
    var(--mantine-color-blue-filled) 200%
  );
}

.code-background {
  background-image: url("/images/course-background.webp");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
