/* App Shell */
.layout-header {
  height: 100%;
}

.deafult-navbar {
  backdrop-filter: blur(3px);
}

/* Pages */
.page-title {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    75deg,
    var(--mantine-color-default) 0%,
    var(--mantine-color-blue-filled) 200%
  );
  border-radius: var(--mantine-radius-md);
}

/* Logo Small */
.logo-container-small {
  height: 50px;
  width: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-hat-small {
  position: absolute;
  width: 26px;
  top: 0;
  left: 0;
  transform: translate(-6px, -3px);
  z-index: -10;
}

.logo-title-blue {
  color: var(--mantine-color-blue-filled);
}

/*
.logo-container-small {
  height: 50px;
  width: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logoTitleSmall {
  font-size: 1.6rem;
  font-weight: 700;
}

.logoTitleBlueSmall {
  color: var(--mantine-color-blue-6);
}

.logoHatSmall {
  position: absolute;
  width: 24px;
  top: 0;
  left: 0;
  transform: translate(1px, 3px);
}
*/
